body{
	font-family: Helvetica, sans-serif;
}

.container-fluid{
	background: #443222;
}

.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

h3{
	color:white;
}

.main{
	border: red solid 1px;
	width: auto;
	height: auto;
}

.cols {
	width:300px;
	float:left;
	margin: 0px;
	padding: 0px;
	ul{
		margin:0px;
	}
}

.stories{
	li {
		margin:1px;
		background-color:#333333;
		.transition(all 0.2s linear);
		
		.title{
			font-size: 20px;
			color:#cccccb;
			line-height: 22px;
			text-align: left;
			.transition(all 0.2s linear);
		}
		.story{
			color:#454545;
			padding: 2px 15px;
			font-size:15px;
			.transition(all 0.2s linear);
			&:hover{
				font-size:18px;
			}
		}
		.tags {
			padding: 3px 5px;
			list-style: none;
			li{
				display:inline;
				width: auto; 
			}
		}
		&:hover{
			background-color: #cccccb;
			.title{
				font-size:25px;
				color: #333333;
			}
		}
	}
}

