body{
	font-family: Helvetica, sans-serif;
}

.stories>li{
	width:235px;
	float:left;
	margin:1px;
}

.title{
	font-size: 22px;
	color:#333333;
	line-height: 22px;
	text-align: 100px;
}

.story{
	color:#454545;
	padding: 2px 15px;
}

.tags {
	padding: 3px 20px;
}