<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
<!--       Sort by:
      <select ng-model="orderProp">
        <option value="date">Date</option>
        <option value="regular-title">Title</option>
      </select> -->

      <h3>Filter by: <span ng-bind="query">{{query}}</span></h3>

    </div>
    <div class="span10">
      <!--Body content-->
      <div class="main">

        <div class='cols' ng-repeat='col in cols'>
          <ul class="stories">
            <li class="thumbnail" ng-repeat="story in col | filter:query | orderBy:orderProp">
              <p class="title">{{story['regular-title']}}</p>
              <p class="story" ng-bind-html="story['regular-body']"></p>

              <ul class='tags' ng-repeat="tag in story.tags">
                <li class='tag'>{{tag}}</li>
              </ul>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>
