<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
<!--       Sort by:
      <select ng-model="orderProp">
        <option value="date">Date</option>
        <option value="regular-title">Title</option>
      </select> -->

      <h3>Searching for: <span ng-bind="query">{{query}}</span></h3>

    </div>
    <div class="span10">
      <!--Body content-->

      <div class="main">
        <ul class="stories" ng-repeat="story in stories | filter:query | orderBy:orderProp">
          <li class="thumbnail" ng-class="column($index)">
            <p class="title">{{story['regular-title']}}</p>
            <p class="story" ng-bind-html="story['regular-body']"></p>

            <ul class='tags' ng-repeat="tag in story.tags">
              <li class='tag'>{{tag}}</li>
            </ul>
        </ul>
      </div>

    </div>
  </div>
</div>
